:root {
    --background: #2F303A;
    --hover: #2196F3;
    --text-color-gray: #212121;
    --text-color-ight-gray: #757575;
    --background-color-section-team: #F5F4FA;
}

ul,h1,h2,button,p,h3 {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto';
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
}


.header {
    padding: 24px 0 25px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-contacts {
    display: flex;
    gap: 50px;
}

.header-item {
    display: flex;
    flex-direction: row;
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: normal;
}


.logo-footer {
    font-family: 'Raleway';

}
.Web {
    color: #2196F3;
}
.Studio {
    color: black;
}
.Studio1 {
    color: #FFF;
}

.filters {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 94px 0 50px 0;
}

.project-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 94px;
}

.project-list-item {
    border: 1px solid #EEE;
    background-color: #FFF;
    padding-bottom: 20px;
}

.project-list-img {
    margin-bottom: 20px;
}

.project-list-title, .project-list-text {
    padding-left: 24px;
    color: #212121;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 36px; /* 200% */
    font-weight: 700;
    letter-spacing: 1.08px;
}

.project-list-text {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
}

.footer {
    background-color: var(--background);
    padding: 60px 0 60px 0;
}
.logo-footer {
    font-family: 'Raleway';
    display: block;
    font-size: 26px;
    margin-bottom: 20px;
}
.Web {
    color: var(--hover);
}
.Studio {
    color: #000;
}
.Studio1 {
    color: #FFF;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.contacts {
    font-size: 14px;
}

