:root {
    --background: #2F303A;
    --hover: #2196F3;
    --text-color-gray: #212121;
    --text-color-ight-gray: #757575;
    --background-color-section-team: #F5F4FA;
    --white: #fff;
}

ul,h1,h2,button,p,h3 {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
}

.header {
    padding: 24px 0 25px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-list-link {
    color: var(--text-color-gray);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header-list-link:hover, .header-contacts-link:hover {
    color: var(--hover);
}

.header-contacts {
    display: flex;
    gap: 50px;
}

.header-contacts-link {
    color: var(--text-color-ight-gray);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header-item {
    display: flex;
    flex-direction: row;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: normal;
}

.hero {
    background-color: var(--background);
    padding: 200px 0 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    color: #FFF;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2.64px;
}
.hero-btn {
    display: block;
    font-size: 16px;
    line-height: 1.8;
    background-color: #2196F3;
    color: var(--white);
    margin: 30px auto 0;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    letter-spacing: 0.96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.features {
    padding: 94px 0 94px 0;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item::before {
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-color-section-team);
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-item:nth-child(1)::before {
    background-image: url("../images/antenna.svg");
}

.features-item:nth-child(2)::before {
    background-image: url("../images/clock.svg");
}

.features-item:nth-child(3)::before {
    background-image: url("../images/diagram.svg");
}

.features-item:nth-child(4)::before {
    background-image: url("../images/astronaut.svg");
}

.features-title {
    font-size: 14px;
    line-height: normal;
    margin: 0 0 10px 0;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.features-par {
    font-size: 14px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.work {
    padding: 0 0 94px 0;
}

.work-title {
    font-size: 36px;
    line-height: normal;
    margin: 0 0 50px 0;
    text-align: center;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
.work-list {
    display: flex;
    justify-content: space-between;
}
.work-item {
    width: 370px;
    height: 294px;
}
.team {
    background-color: var(--background-color-section-team);
    padding: 94px 0 94px 0;
}
.team-title {
    font-size: 36px;
    line-height: normal;
    margin: 0 0 50px 0;
    text-align: center;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-list li img {
    width: 270px;
    height: 260px;
}
.team-title-h3 {
    font-size: 16px;
    line-height: normal;
    margin: 30px 0 0 0;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
.team-par{
    color: #757575;
    font-size: 16px;
    line-height: normal;
    margin: 10px 0 0 0;
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.footer {
    background-color: var(--background);
    padding: 60px 0 60px 0;
}
.logo-footer {
    font-family: 'Raleway';
    display: block;
    font-size: 26px;
    margin-bottom: 20px;
}
.Web {
    color: var(--hover);
}
.Studio {
    color: #000;
}
.Studio1 {
    color: #FFF;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-style: normal;
}

.contacts {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.contacts-city {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
}
